body{text-align: center}
#link li{
display:inline-block;
}
div#logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}
table { 
	   width:50%;
	   text-align: center;
  	   border-collapse:collapse;
           margin-bottom: 30px;
	   color:black;
	}
	table, th, td{
   	 border: 1px solid black;
	}
	
	th{
    	   background-color:#301c0c;
	   color:white;	
	}
	tr:nth-child(2n-1){
    	   background-color: #f2c8aa;
	}
	tr:nth-child(even){
    	   background-color: #caa885;
	}
